:root {
    --primary-color: black;
    --secondary-color: green;
    --background-color: rgb(255, 255, 255);
    --spacing: 20px;
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 8rem;
    color: var(--primary-color);
    text-align: center;
    font-family: 'Antonio', sans-serif;
    padding:0;
    margin-right: 4em;
    cursor: default;
}

h2 {
    font-size: 2rem;
    color: var(--primary-color);
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    padding: 50px;
    margin: 0; 
    cursor: default;
}

header {
    display: flex;
    justify-content: flex-start;
    gap: var(--spacing);
    align-items: center;
    padding: var(--spacing);
    background-color: var(--background-color);
    margin-top: -60px;
}

.featured-products{
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing);
    justify-content: flex-start;
    padding: 40px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #111;
    transition: left 0.3s ease;
    padding-top: 60px;
}

.menu-icon {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
}

.menu-icon img {
    width: 40%;
    height: auto;
}

.products img {
    cursor: pointer;
    width: 25rem;
    height: auto;
    max-width: 500px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-evenly;
}

.item-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}

#item-a, #item-b, #item-c, #item-d, #item-e, #item-f, #item-g, #item-h, #item-i, #item-j, #item-k, #item-l {
    border: 8px solid var(--primary-color);
    padding: var(--spacing);
}



@media (max-width: 768px) {

}

@media (max-width: 480px) {

}

@media (max-width: 375px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: 4rem;
        margin-right: 0;
    }
    .menu-icon img {
        width: 60%;
    }
}
