:root {
  --primary-color: (black);
  --secondary-color: ();
    --background-color: (rgb(231, 227, 218));
  --spacing: 20px;
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 7rem;
    color: var(--primary-color);
    text-align: center;
    font-family: 'Antonio', sans-serif;
}

h2 {
    font-size: 2rem;
    color: var(--secondary-color);
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}